body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    z-index: 100;
}

#form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    width: 30%;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #c7c3c3;
}

#mensagens {
    margin-top: 30px;
    list-style-type: none;
    padding: 0;
    max-height: 60vh;
    overflow-y: auto;
}

#status {
    margin-top: 10px;
    text-align: center;
}